// Specific CSS for your home-page
.banner {
background-image: linear-gradient(rgba(0,0,0,0.4),rgba(35,53,103,0.4)), url(https://images.unsplash.com/photo-1485846234645-a62644f84728?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1340&q=80);
height: 100vh;
background-size: cover;
}

.search-box{
  height: 2.5rem;
  width: 450px;
  background-color: white;
  border-radius: 4px;
}

.search-inline{
  display: flex;
}
