// Import page-specific CSS files here.
@import "home";
@import "show";
@import "dashboard";

.page-title {
  text-align: center;
}

@media (min-width: 500px) {
  .page-title {
    padding: 1.5rem;
  }
}

@media (min-width: 992px) {
  .page-title {
    text-align: center;
    padding: 1rem 0;
  }
}

body {
  height: 100vh;
  padding-bottom: 4rem;
}
