.bicycle-description {
  margin-top: 1rem;
  text-align: justify;
}

.buy-button-align {
  position: sticky;
  bottom: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1rem;
}
