<div class="banner">
  <div class="container" style="height: 100%;">
    <h1>Welcome to La Bicycleta!</h1>
    <p>The go-to marketplace for short-term bike rentals in Paris</p>
    <div class="search-inline">
      <div class="search-box">
      </div>
      <%= link_to "Look at bikes", bicycles_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>
