.megabox{

}

.cards {
  display: grid;
  height: calc(100vh - 179px);
  width: calc(100vw - 1.4rem);
  z-index: 2;
}

// .card {
//   width: 100%;
// }

// .card-product {
//   grid-template-columns: repeat(2, 1fr);
//   grid-gap: 12px;
//   flex-grow: 1;
// }

@media (min-width: 992px) {
  .tab-wrap {
    width: 800px;
  }
}

.key-information {
  color: black;
}

.card-product {
  margin: 0 5px 10px 5px;
  border-radius: 4px;
  box-shadow: 2px 1px 2px 0;
  padding: 4px;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 1px 1px 1px 0;

  img {
    object-fit: cover;
  }
}

#last-card {
  margin-bottom: 0.7px;
}

.card-information{
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  background-color: rgba(137, 196, 244, 0.9);
  width: 100%;
  text-align: center;
  border-radius: 4px;
  margin-top: 5px;

  h4 {
    overflow: hidden;
    padding-top: 1rem;
  }
}

// Map Button in Mobile

.map-button-align {
  position: absolute;
  bottom: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 4;
  padding: 1rem;
}

#map-opener {
}

// MapBox in Mobile

.map-box {
  position: absolute;
  bottom: 0;
  opacity: 0;
  z-index: 1;
  width: 100%;
  margin: 0;
}

.visible {
  opacity: 1;
  z-index: 3;
}

a:hover{
  text-decoration: none;

  h5{
    color: rgb(60, 60, 60);
    text-decoration: underline;
    font-weight: bold;
  }

  p{
    color: rgb(60, 60, 60);
    text-decoration: none;
  }
}

// MapBox in Desktop

@media(min-width: 992px) {
  .megabox {
    display: flex;
    justify-content: space-between;
    width: 425px;
    top: 163px;
    left: 0;
    position: fixed;
  }

  .cards{
    z-index: initial;
    width: 100%;
  }

  .map-box {
    margin: 1rem;
    position: absolute;
    margin-right: 1rem;
    opacity: 1;
    width: 70%;
    flex-grow: 2;
    z-index: initial;
    right: 0;
    width: calc(100vw - 450px);
  }

  .map-button-align {
    display: none;
  }
}

// @media(max-width: 992px) {
//   .cards {
//     grid-template-columns: 1fr;
//   }
// }

// @media(max-width: 768px) {
//   .megabox{
//   display: block
//   }
// }

// @media(max-width: 576px) {
//   .megabox{
//   display: block
//   }
//   .cards {
//     grid-template-columns: 1fr;
//   }
// }

h3{
  font-size: 1rem;
}
