.megabox{

}

.cards {
  display: grid;
  height: calc(100vh - 210px);
  margin: 0 1rem 1rem 1rem;
  z-index: 2;
}

// .card-product {
//   grid-template-columns: repeat(2, 1fr);
//   grid-gap: 12px;
//   flex-grow: 1;
// }

.card-product {
  margin: 0 5px 5px 5px;
  border-radius: 4px;
  box-shadow: 2px 1px 2px 0;
  padding: 4px;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 1px 1px 1px 0;

  img {
    object-fit: cover;
  }
}

.card-information{
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  background-color: rgba(137, 196, 244, 0.9);
  width: 100%;
  text-align: center;
  border-radius: 4px;
  margin-top: 5px;

  h4 {
    overflow: hidden;
    padding-top: 1rem;
  }
}

// Map Button in Mobile

.map-button-align {
  position: absolute;
  bottom: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 4;
  padding: 1rem;
}

#map-opener {
}

// MapBox in Mobile

.map-box {
  position: absolute;
  bottom: 0;
  opacity: 0;
  z-index: 1;
  width: 100%;
}

.visible {
  opacity: 1;
  z-index: 3;
}

a:hover{
  color: rgba(230, 230, 230, 0.9);
  font-weight: bold;
  text-decoration: none;
}

// MapBox in Desktop

@media(min-width: 992px) {
  .megabox {
    display: flex;
    justify-content: space-between;
  }

  .cards{
    z-index: initial;
    width: 30%;
  }

  .map-box {
    position: initial;
    margin-right: 1rem;
    opacity: 1;
    width: 70%;
    flex-grow: 2;
    z-index: initial;
  }

  .map-button-align {
    display: none;
  }
}

// @media(max-width: 992px) {
//   .cards {
//     grid-template-columns: 1fr;
//   }
// }

// @media(max-width: 768px) {
//   .megabox{
//   display: block
//   }
// }

// @media(max-width: 576px) {
//   .megabox{
//   display: block
//   }
//   .cards {
//     grid-template-columns: 1fr;
//   }
// }

h3{
  font-size: 1rem;
}
