.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 12px;
  flex-grow: 1;
}

.card-product {
  margin: 0 5px 5px 5px;
  height: 200px;
  border-radius: 4px;
  box-shadow: 2px 1px 2px 0;
  border: 0.5px solid rgba(230, 230, 230, 0.2);
  display: flex;
  background-color: white;

  img {
    object-fit: cover;
    height: 100%;
  }
}

a:hover{
  color: rgba(230, 230, 230, 0.9);
}

a:hover{
  text-decoration: none;
}

.card-information{
  padding-left: 1rem;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: black;
  width: 200px;

  h3{
    font-size: 1rem;
  }
}


.megabox {
  display: flex;
  margin-top: 1rem;
}
