.image-fitter {
    height: 300px;
    object-fit: cover;
}

@media (min-width: 768px) and (orientation: portrait) {
  .image-fitter {
      height: 500px;
      background-color: rgba(200, 200, 200, 0.4);
  }
}

@media (min-width: 992px) and (orientation: landscape) {
  .image-fitter {
      height: 50vh;
      background-color: rgba(200, 200, 200, 0.4);
      object-fit: scale-down;
  }
}

.carousel-inner .item a img {

margin: auto;

}
