.mapboxgl-popup {
  max-width: 600px;
  border-radius: 4px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.pop-content {
  color: black;
}

.pop-title {
  color: white;
  background-color: rgba(137, 196, 244, 0.9);
  padding: 2.5px;
  margin: 6px;
  border-radius: 4px;
}

.pop-price {
  margin: 0;
  font-size: 12px;
}

.big {
  display: none;
}


@media(min-width: 768px) {

  .small {
    display: none;
  }

  .big {
    display: block;
  }

  .pop-title {
    font-size: 2rem;
  }

  .pop-price {
    font-size: 1rem;
  }
}

