.navbar-lewagon {
  justify-content: space-between;
  background: white;
  margin-bottom: 1rem;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.logo{
  background-color: darkturquoise;
  padding: 15px;
  border-radius: 50%;
  color: aliceblue;
  font-size: 1.5rem;
}
