.navbar-lewagon {
  justify-content: space-between;
  background: white;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.logo{
  background-color: darkturquoise;
  padding: 15px;
  border-radius: 50%;
  color: aliceblue;
  font-size: 1.5rem;
}

a {
  color: rgba(0, 0, 0, 0.5);
}

@media (max-width: 575) {
  .navbar-items {
    list-style-type: none;
    margin: 0;
    opacity: 0;
  }

  .navbar-item {
    list-style-type: none;
    margin: 0;
    opacity: 0;
  }
}

@media (min-width: 576px) {
  .navbar-items {
    display: flex;
    list-style-type: none;
    margin: 0;
  }
  .navbar-link {
    padding: 0 1rem;
  }

  .toggler {
    display: none;
  }
}

